api-sample/api-interface/src/main/resources/META-INF/xsd/org.sample.hotel.shared.xsd

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns:tns="urn:org:sample:hotel:shared" targetNamespace="urn:org:sample:hotel:shared">

	<xsd:element name="HotelFault">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="ErrorCode" type="xsd:int" />
				<xsd:element name="Details" type="xsd:string" />
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="AmountType">
		<xsd:sequence>
			<xsd:element name="Value" type="xsd:string" />
			<xsd:element name="Currency" type="xsd:string" />
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="PriceType">
		<xsd:sequence>
			<xsd:element name="BaseRate" type="tns:AmountType"
				minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Base rate, if known. Sometimes we only know the
						total so we don't have this breakdown.
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="TaxRcAndFees" type="tns:AmountType"
				minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Tax recovery charge and fees, if known.
						Sometimes we only know the total so we don't have this breakdown.
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="TotalRate" type="tns:AmountType">
				<xsd:annotation>
					<xsd:documentation>Total of base plus taxes and fees. If we do not
						know the breakdown of this amount, only the total will be
						returned.
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="StayDatesType">
		<xsd:sequence>
			<xsd:element name="CheckInDate" type="xsd:date" />
			<xsd:element name="CheckOutDate" type="xsd:date" />
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="TravelerCountType">
		<xsd:sequence>
			<xsd:element name="NumberOfAdults" type="xsd:int">
				<xsd:annotation>
					<xsd:documentation>Number of adults in the hotel room.
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="ChildAgeList" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>List of child ages.</xsd:documentation>
				</xsd:annotation>
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="ChildAge" type="xsd:int" maxOccurs="unbounded" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:simpleType name="PaymentMethodType">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="Online" />
			<xsd:enumeration value="Hotel" />
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:complexType name="PromotionType">
		<xsd:sequence>
			<xsd:element name="Amount" type="tns:AmountType" />
			<xsd:element name="Description" type="xsd:string"
				minOccurs="0">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">Promotion Description
						Text returned only in the case of a dated search response
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="AmenityListType">
		<xsd:annotation>
			<xsd:documentation>List of amenities.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="Amenity" type="xsd:string" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>Text code representing an amenity offered at the
						hotel.
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>

</xsd:schema>